<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bank98serverlessfunc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f8d5c192-5f89-4f54-a758-3a03f7c3ae16/resourceGroups/functions/providers/Microsoft.Web/sites/Bank98serverlessFunc</ResourceId>
    <UserName>$Bank98serverlessFunc</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://bank98serverlessfunc.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>